* {
    font-family:arial;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.player {
    display:flex;
    flex-direction: row;
}

.player-wrapper {

}

.transcriber {
    margin: 10px;
    background-color: #F4F4F4;
    width: 500px;
    border-radius: 3px;
}

.transcriber-wrapper {
    height: 600px;
}

.transcriber-input-wrapper {
}

.grabscriber {
    display:flex;
}

.transcriber-playlist-wrapper {
    height: 90%;
    overflow-y: scroll;
}


.transcriber-playlist-item-wrapper {

}

.transcriber-playlist-item {
    margin:2px;
}

.text-renderer {
    position: "absolute",
    width: "100%",
    height: "100%",
    top: "0",
    left: "0"
}
